
<center>
<h1>Newsfeed</h1>
<div class="row medium-8 large-7 columns">
<div class="blog-post">

<% @posts.each do |post| %>
 <h2><%= link_to post.title, post %></h2>
    <img class="thumbnail" src="http://placehold.it/850x350">

 <p><%= post.body %></p>
 <p>

 <%= link_to 'Edit', edit_post_path(post) %>|<%= link_to 'Destroy', post, method: :delete,
 data: { confirm: 'Are you sure?' } %>
 </p>
<% end %>
    

</div>
</div>
    
</div>

<br>

<%= link_to 'New Post', new_post_path %>
</center>